<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DefaultDbConnection"
			 connectionString="Data Source=serverName;
			 Initial Catalog=MyDatabase;
			 Persist Security Infro=True;
			 User Id=userName;Password:TestPass"
			 providerName="System.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>